#universityResources {
    border: 2px solid black;
    padding: 15px;
    margin: 15px 0;
    background-color: white;
}

#personalProjects {
    border: 2px solid black;
    padding: 15px;
    margin: 15px 0;
    background-color: lavender;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode a {
    color: lightblue;
}

.dark-mode #universityResources,
.dark-mode #personalProjects {
    background-color: #333;
    color: white;
    border: 2px solid white;
}
